*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* START HEADER */
header{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.h-row{
    width: calc(100% - 30px);
    margin: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-col{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    justify-self: right; 
}

ul{
    display: inline-block;
}

ul li{
    display: inline;
    margin: 0 15px;
}

ul li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.h-col button{
    background-color: rgba(0,97,255,255);
    border: none;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
}
/* END HEADER */

/* START MAIN */
/* JUMBOTRON LAYOUT */
.jumbo-container{
    background-color: rgba(180,208,231,255);
    width: 100%;
    height: 700px;
    display: flex;
}

.j-row{
    width: 65%;
    margin: 0 auto;
}

.j-col{
    width: 100%;
    margin-top: 10%;
}

h1{
    text-align: left;
    font-size: 80px;
}
.contain{
    width: 100%;
    position: relative;
    padding: 35px 0;
    font-size: 15px;
}

.contain img{
    position: absolute;
    width: 700px;
    left: 37%;
    top: 14%;
}

.contain button{
    background-color:rgba(0,97,255,255);
    color: white;
    padding: 10px 10px;
    border: none;
    margin: 30px 0;
    font-size: 15px;
}

.contain i{
    position: absolute;
    top: 115%;
}

/* END JUMBOTRON LAYOUT */

/* FIRST LAYOUT */
.first-container{
    width: 100%;
}

.first-row{
    width: 60%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.col-33{
    width: calc(100% / 3);
    margin: 0 20px auto;
    border: 1px solid lightgray;
}
.up-contain{
    width:100%;
}

.down-contain{
    width:100%;
    border: 1px solid lightgray;
}

.central-contain{
    width:100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
}

.up-contain h2{
    font-size: 35px;
    padding: 30px 0 50px;
}

#radio-button{
    margin-left: 60px;
}

.head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.col-body h3{
    font-size: 25px;
    padding: 20px 35px;
}

.col-body ul li{
    display: block;
    padding: 10px 20px;
}

.col-body button{
    background-color:rgba(0,97,255,255) ;
    color: white;
    padding: 10px 25px;
    margin: 30px;
    border: none;
    justify-self: center;
}

#call-us{
    margin: 30px 70px;
}

.first-list{
    padding-bottom: 236px;
}

.second-list{
    padding-bottom: 194px;
}

.col-body span{
    margin-left: 30px;
}

hr{
    width: 20%;
    margin: 40px 30px;
}

.col-body h4{
    padding-left: 30px;
    
}

.down button{
   float: right;
   padding: 10px 35px;
}

.down p{
    padding: 50px 30px 30px ;
}
/* END FIRST LAYOUT */

/* SECOND LAYOUT */
.second-container{
    width: 100%;
}

.second-row{
    width: 60%;
    margin: 150px auto;
    display: flex;
}

.col-60{
    width: 60%;
}

.col-60 img{
    width: 100%;
}

.col-40{
    width: 40%;
}

.contain-col{
    margin: 30px 40px;
}

.contain-col h2{
    padding: 20px 0;
}

.contain-col p{
    padding-bottom:30px;
    font-size: 15px;
}

.contain-col button{
    font-size: 15px;
    padding: 10px 10px;
    background-color:transparent;
    border: 1px solid black;
}
/* END SECOND LAYOUT */

/* THIRD LAYOUT */
.third-container{
    width: 100%;
}

.third-row{
    width: 60%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    width: calc(100% / 3 - 20px);
    margin: 25px 10px;
}

.title-col{
    width:100%;
    display: flex;
    align-items: center;
}

.title-col h2{
    font-size: 35px;
    padding: 20px 0;
}

.col img{
    width: 100%;
}

.col h3{
    font-size: 20px;
}

.col p{
    font-size: 14px;
    padding-top: 20px;
}
/* END THIRD LAYOUT */

/* FOURTH LAYOUT */
.fourth-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.fourth-row{
    width: 60%;
    margin: 0 auto;
}

.column{
    width: 100%;
    margin: 100px 0 150px 0;
}

.column h1{
    font-size: 35px;
    padding-bottom: 60px;
}

/* END FOURTH LAYOUT */

/* FIFTH LAYOUT */
.fifth-container{
    width: 100%;
}

.fifth-row{
    width: 100%;
    display: flex;
}

.column-33{
    width: calc(100%/3);
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.sub-col{
    width:calc(100% / 2);
    position: relative;
}

.svg{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center{
    background-color: rgba(245,245,245,255);
}

.content{
    width: 100%;
    position: relative;
}

.content img{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 5%;
    top: -10%;
}

.content p{
    width: 100%;
    position: absolute;
    font-size: 14px;
    top: 35%;
    left: 5%;
}

.content span{
    position: absolute;
    font-size: 14px;
    top: 62%;
    left: 5%;
}

.small{
    width: 140px;
    height: 25px;
}

.aquamarine{
    background-color:rgba(162,211,155,255);
    border: 15px solid rgba(209,233,205,255);
}

.beige{
    background-color: rgba(97,8,43,255);
}

.lightblue{
    background-color: rgba(0,147,206,255);
}

.red{
    background-color: rgba(255,28,28,255);
}

.darkred{
    background-color: rgba(213,0,31,255);
}

.color{
    background-color: rgba(180,208,231,255);
}

.blue{
    background-color:rgba(13,36,129,255);
}

.yellow{
    background-color: rgba(255,216,48,255);
}
/* END FIFTH LAYOUT */

/* SIXTH LAYOUT */
.sth-container{
    background-color: rgba(180,208,231,255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sth-row{
    width: 60%;
    display: flex;
    padding: 120px 0;
}

.col-55{
    width: 55%;
}

.col-55 h2{
    font-size: 35px;
    color: rgba(97,8,43,255);
}

.col-45{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.col-45 button{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 10px 40px;

}
/* END SIXTH LAYOUT */

/* SEVENTH LAYOUT */
.sevth-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.sevth-row{
    width: 60%;
    padding: 100px 0 130px 0;
    display: flex;
    flex-direction: column;
}

.first-vertical-col{
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.first-vertical-col h2{
    font-size: 30px;
}

.vertical-col{
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vertical-col span{
    margin-right: 5%;
}
/* END SEVENTH LAYOUT */
/* END MAIN */

/* FOOTER */
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-row{
    width: 70%;
    padding: 100px 0 350px 0;
    display: flex;
    flex-direction: row;
}

.f-col{
    width: calc(100% / 5);
    position: relative;
}

.f-col h3{
    position: absolute;
    left: 32%;
    bottom: 0;
    font-size: 20px;
    color: white;
}

.f-col ul {
    position: absolute;
    top: 15%;
    left: 25%;
    padding: 20px 0;
}

.f-col ul li{
    display: block;
    color: white;
    font-size: 13px;
    padding: 7px 0;
}

.last h3{
    position: absolute;
    left: 30%;
}
/* END FOOTER */
